.return-top {
    position: fixed;
    z-index: 99999;
    right: 15px;
    bottom: -50px;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    cursor: pointer;
    transition:all .5s linear;
    // Icon
    &:before {
      content: "\e9f6";
      font-family: "CaGov";
      padding-right: 5px;
    }
  
    &.is-visible {
      opacity: 1;
      visibility: visible;
      display: inline;
      bottom:50px;
    }
  }
  