
cagov-covid19-state-industry-guidance {
    .guidance {
        color: #1f2574;
    }
    .guidance-link {
        display: block;
    }
    
    .drawer-title {
        color: #1F2574;
        font-weight: 700;
        font-size: 19.2px;
        line-height: 24px;
    }
    
    .drawer-container {
        color: #1F2574;
    }
}